.btn.btn-primary {
	background-color: #4865FF;
	border-color: #4865FF;
}
.btn.btn-primary:hover {
	background-color: #3755eb;
	border-color: #3755eb;
}
.welcomeheading {
	justify-content: space-between;
	align-items: center;
	display: flex;
	margin: 0 0 25px;
}
.welcomeheading h1 {
	font-size: 24px;
}
.pramotion-banner .carousel-item img {
	border-radius: 10px;
}
.verification-steps {
	margin: 25px 0 0;
}
.cardHeading {
	margin: 0 0 15px;
	font-size: 20px;
	font-weight: 500;
	padding: 15px 15px 0;
}
.cardHeading img {
	margin-right: 10px;
	height: 30px;
	width: 30px;
}
.verification-steps .progress {
	border-radius: 0;
	height: 5px;
	margin: 0 0 20px;
}
.card-content {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
	display: flex;
	margin: 0 0 5px;
}
.checkboxText .form-check-input:checked {
	background-color: #059669 !important;
	border-color: #059669 !important;
}
.checkboxText input {
	border-radius: 50% !important;
	height: 20px;
	width: 20px;
	margin-right: 25px;
	margin-top: 0;
}
.checkboxText span {
	font-weight: 500;
}
.statusbtn.completed {
  background: #ECFDF5;
  color: #05967B;
}
.statusbtn {
  background: #F1F5F9;
  color: #6474A7;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.statusbtn.under-review {
	background: #FFDFCC;
	color: #B1704A;
}
.lastbtn {
	min-width: 120px;
	text-align: right;
}
.checkboxText {
	min-width: 220px;
}
.card {
	border-color: #e2e8f0 !important;
	border-radius: 10px;
}
.lastbtn a {
	border: 1px solid #e2e8f0;
	color: #000;
	text-decoration: none;
	padding: 8px 16px;
	border-radius: 4px;
	text-align: center;
}
.checkboxText .form-check-input[type="checkbox"] {
	border-color: #94A3B8;
}
.infoicon {
	font-size: 18px;
}
.kpiBoxArea {
	border: 1px solid #e2e8f0;
	border-radius: 10px;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 0;
	padding: 15px;
	display: flex;
}
.iconKpi {
	background: #f4f6f8;
	justify-content: center;
	align-items: center;
	width: 45px;
	height: 45px;
	font-size: 20px;
	display: flex;
	margin-right: 25px;
}
.kpiText {
	color: #65768e;
}
.kpiNumnber {
	color: #000;
	font-size: 24px;
	font-weight: 600;
}
.contentKpi {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.iconKpi img {
	width: 22px;
}
.gradientbg {
	background: #faebff;
	background: -webkit-linear-gradient(to bottom, #faebff, #fff);
	background: linear-gradient(#faebff, #fff);
	padding: 15px;
	border-radius: 10px;
}
.gradientBox.contactus {
	border: 1px solid #e2e8f0;
	padding: 10px;
    border-radius: 10px;
}
.gradientbg h3 {
	font-size: 20px;
}
.buttonImage img {
	width: 70px;
	opacity: 0.5;
}
.buttonImage {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.buttonImage a.btn {
	border: 1px solid #aebdd0;
	color: #000;
}
.buttonImage a.btn:hover {
	background-color: #fff;
	color: #000;
}
.d-md-flex.roundbtn {
	flex-wrap: wrap;
}
.mutipleSelctBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.cursor-pointer{
	cursor: pointer !important;
}
h5.text-fade {
	color: #7e8299 !important;
	font-size: 16px;
}
.mb-0 {
  margin-bottom: 0px !important;
}
h2.fw-500 {
  font-weight: bold;
  font-size: 28px;
}
.chartHeight{
	display: flex;
	align-items: center;
}
.box-controls {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}
.box-header > .box-controls {
	position: absolute;
	right: 1.5rem;
	top: 1.5rem;
}
.box-controls li > button {
	font-size: 0.8571rem;
	display: inline-block;
	padding: 0 4px;
	margin: 0 4px;
	color: #608acf;
	opacity: .8;
	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}
.box-controls li .btn-primary {
	background-color: #2196f3;
	border-color: #2196f3;
	color: #ffffff;
}
.bb-1 {
	border-bottom: 1px solid #f3f6f9 !important;
}
.headingSize h5 {
	font-size: 16px;
}
.my-15 {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}
.jobApplicationList .btn-outline.btn-primary-light {
	color: #2196f3;
	background-color: transparent;
	border-color: #e4f3ff !important;
}
.jobApplicationList .mx-5 {
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.btn-xs, .btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 0.8571rem;
	line-height: 1.5;
	border-radius: 3px;
}
.totalApplications .bg-danger {
	background-color: #FF5C5C !important;
	color: #ffffff;
}
.totalApplications .bg-warning {
	background-color: #FDAC42 !important;
	color: #ffffff;
}
.totalApplications .bg-success {
	background-color: #3da643 !important;
	color: #ffffff;
}
.totalApplications .bg-info {
	background-color: #673ab7 !important;
	color: #ffffff;
}
.w-p100 {
	width: 100% !important;
}
.rounded100 {
	border-radius: 100px;
}
.h-10 {
	height: 10px !important;
}
.box-body > :last-child {
	margin-bottom: 0;
}
.media-list-divided > .media:not(.media-list-header):not(.media-list-footer), .media-list-divided .media-list-body > .media {
	border-bottom: 1px solid rgba(96, 138, 207, 0.07);
}
.media-single, .media-center-v {
	-webkit-box-align: center;
	align-items: center;
}
.media {
	padding: 1rem;
	-webkit-transition: background-color .2s linear;
	transition: background-color .2s linear;
}
.badge-dot.badge-xl {
	width: 12px;
	height: 12px;
}
.badge:empty {
	display: inline-block;
	vertical-align: inherit;
}
.totalApplications .badge-info {
	background-color: #673ab7;
	color: #ffffff;
}
.media {
	display: flex;
	align-items: flex-start;
}
.media > * {
	margin: 0rem 1rem;
}
.media .title {
	-webkit-box-flex: 1;
	flex: 1 1 0%;
}
.totalApplications .badge-info-light {
	background-color: #e7daff;
	color: #673ab7;
}
.media-single, .media-center-v {
	-webkit-box-align: center;
	align-items: center;
}
.badge {
	border-radius: 3px;
	font-weight: 300;
	line-height: 1.3;
	/*font-size: 85%;*/
}
.badge {
	font-weight: normal;
}
.badge-pill {
	border-radius: 10rem;
}
.badge-dot {
	width: 8px;
	height: 8px;
	padding: 0;
	border-radius: 100%;
	vertical-align: middle;
}
.box.totalApplications a {
	color: #172b4c;
}
.totalApplications .badge-success {
	background-color: #3da643;
	color: #ffffff;
}
.totalApplications .badge-warning {
	background-color: #FDAC42;
	color: #ffffff;
}
.totalApplications .badge-danger {
	background-color: #FF5C5C;
	color: #ffffff;
}
.totalApplications .badge-danger-light {
	background-color: #fedfdf;
	color: #FF5C5C;
}
.totalApplications .badge-warning-light {
	background-color: #fff4e1;
	color: #FDAC42;
}
.totalApplications .badge-success-light {
	background-color: #e9f5ea;
	color: #3da643;
}
.mb-30 {
	margin-bottom: 30px !important;
}
.me-15 {
	margin-right: 15px !important;
}
.newapplicationUser .bg-primary-light {
	background-color: #e4f3ff !important;
	color: #2196f3;
}
.avatar {
	position: relative;
	display: inline-block;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 15px;
}
.avatar-lg {
	width: 48px;
	height: 48px;
	line-height: 48px;
	font-size: 1.286rem;
}
.text-dark {
	color: #172b4c !important;
}
.fw-500 {
	font-weight: 500;
}
.fs-12 {
	font-size: 12px !important;
}
.text-fade {
	color: #7e8299 !important;
}
.smalldots {
	color: #464646;
}
.box-body .box-title {
	display: inline-block;
	margin: 0;
	margin-bottom: 1rem;
	color: #172b4c;
	font-size: 18px;
}
.box-shadowed {
	-webkit-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
	box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.08);
}
.scheduledMeeting .h-50 {
	height: 50px !important;
}
.scheduledMeeting .w-50 {
	width: 50px !important;
}
.rounded15 {
	border-radius: 15px;
}
.scheduledMeeting .mt-5 {
	margin-top: 5px !important;
}
.customTimePick{
	width: 40%;
}
.checkTime .MuiPickersInputBase-root {
	height: 33px;
}
.blueedit{
color:#4865ff
}
@media (min-width: 1200px) {
    .modal-xl {
        --bs-modal-width: 1151px;
    }
}
.text-inherit {
  color: inherit !important;
  text-decoration: none !important;
}

.text-inherit:hover {
  color: inherit !important;
}
