body{
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 14px !important;
}
.loginBox {
	border-radius: 20px;
	width: 100%;
	max-width: 480px;
	border: none;
	box-shadow: none;
	background: none !important;
}
.logoheader {
	text-align: center;
	margin: 0 0 1.5rem;
}
.loginBox h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 35px 0 0;
}
.themeBlue {
	color: #03416b;
	text-decoration: none;
}
.btn.btn-primary {
	background-color: #03416b;
	border-color: #03416b;
	font-size: 14px;
}
.btn.btn-primary:hover {
	background-color: #0f5280;
    border-color: #0f5280;
}

.bg-themebg{
    background: #003C60;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.85) 0%, rgba(10, 10, 10, 0.92) 100%), url('/assets/images/hero-bg.jpg');
}
.auth-header-box {
	background-color: #232a3e;
}
.font-18 {
	font-size: 18px;
}
.text-muted.mb-0 {
	color: #7081b9 !important;
	font-size: 14px;
}
.card-body.pt-0 {
	background: #fff;
	padding: 0 20px 20px;
}
.form-label {
	margin-bottom: .5rem;
	color: #656d9a;
}
.form-control {
	font-size: 14px !important;
	border: 1px solid #e8ebf3 !important;
	color: #000444 !important;
}
.form-control:focus {
	box-shadow: none !important;
}
.text-muted {
	--bs-text-opacity: 1;
	color: #7081b9 !important;
}
.font-13{
	font-size: 13px;
}
a{
	text-decoration: none;
}
.loginbtn .btn{
	background: linear-gradient(135deg, #0d6efd 0%, #FD1F8E 100%);
	border: none;
	padding: 10px 0;
}
.layout-wrapper, .layout-container {
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	align-items: stretch;
}
.bg-menu-theme.menu-vertical {
	box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.12);
}
aside.layout-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	margin-right: 0 !important;
	margin-left: 0 !important;
}
.layout-menu-fixed:not(.layout-menu-collapsed) .layout-page, .layout-menu-fixed-offcanvas:not(.layout-menu-collapsed) .layout-page {
	padding-left: 16.25rem;
}
.layout-content-navbar .layout-page {
	flex-basis: 100%;
	flex-direction: column;
	width: 0;
	min-width: 0;
	max-width: 100%;
}
.app-brand {
	display: flex;
	flex-grow: 0;
	flex-shrink: 0;
	overflow: hidden;
	line-height: 1;
	min-height: 1px;
	align-items: center;
}
.menu .app-brand {
	width: 100%;
}
.menu-vertical .app-brand {
	padding-right: 2rem;
	padding-left: 2rem;
}
.menu .app-brand.demo {
	height: 64px;
	margin-top: 12px;
}
.bg-menu-theme {
	background-color: #fff !important;
	color: #697a8d;
}
.layout-page {
	background: #0F0F0F;
}
#layout-menu {
	background: #1A1A1A !important;
}
.menu-vertical, .menu-vertical .menu-block, .menu-vertical .menu-inner > .menu-item, .menu-vertical .menu-inner > .menu-header {
	width: 16.25rem;
}
.layout-page, .content-wrapper, .content-wrapper > *, .layout-menu {
	min-height: 1px;
}
.menu-vertical .menu-inner {
	flex-direction: column;
	flex: 1 1 auto;
	position: relative;
}
.menu-vertical .menu-inner > .menu-item {
	margin: 0.0625rem 0;
}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
	color: #696cff;
	background-color: rgba(105, 108, 255, 0.16) !important;
}
.menu-inner {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	height: 100%;
}
.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
	color: #696cff;
	background-color: rgba(105, 108, 255, 0.16) !important;
}
.menu-item{
	flex: 0 0 auto;
	flex-direction: column;
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu-vertical .menu-inner > .menu-item .menu-link {
	margin: 0rem 1rem;
}
.menu-vertical .menu-item .menu-link
{
	padding: 0.625rem 1rem;
}
.menu-link {
	position: relative;
	display: flex;
	align-items: center;
	flex: 0 1 auto;
	margin: 0;
}
.layout-navbar, .content-footer {
	flex: 0 0 auto;
}
.layout-navbar {
	position: relative;
	padding-top: 0.25rem;
	padding-bottom: 0.2rem;
	height: 3.875rem;
	flex-wrap: nowrap;
	color: #697a8d;
	z-index: 2;
}
.layout-navbar {
	background-color:#1A1A1A!important;
	-webkit-backdrop-filter: saturate(200%) blur(6px);
	backdrop-filter: saturate(200%) blur(6px);
}

.layout-navbar.navbar-detached {
	width: calc(100% - (1.625rem * 2));
	margin: 0.75rem auto 0;
	border-radius: 0.375rem;
	padding: 0 1.5rem;
}
.layout-navbar.navbar-detached.container-xxl {
	max-width: calc(1440px - calc(1.625rem * 2));
}
.layout-page {
  padding-top: 0 !important;
  padding-left: 16.25rem;
}
.layout-content-navbar .layout-page {
	flex-basis: 100%;
	flex-direction: column;
	width: 0;
	min-width: 0;
	max-width: 100%;
}
.layout-navbar .navbar-nav-right {
	flex-basis: 100%;
}
.navbar-nav {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.navbar-nav {
	list-style: none;
}
.bg-navbar-theme {
	color: #697a8d;
}
.fs-4 {
	font-size: 1.375rem !important;
}
.shadow-none {
	box-shadow: none !important;
}
.border-0 {
	border: 0 !important;
}
.shadow-none {
	box-shadow: none !important;
	background: transparent;
	color: #fff !important;
}
.nav-link {
	display: block;
	padding: 0.5rem 1.25rem;
	color: #8e9baa;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.avatar {
	position: relative;
	width: 2.375rem;
	height: 2.375rem;
	cursor: pointer;
}
.h-auto {
  height: auto !important;
}
.w-px-40 {
  width: 40px !important;
}
.avatar.avatar-online::after {
	background-color: #71dd37;
}
.avatar.avatar-online::after{
	content: "";
	position: absolute;
	bottom: 0;
	right: 3px;
	width: 8px;
	height: 8px;
	border-radius: 100%;
	box-shadow: 0 0 0 2px #fff;
}
.dropdown-toggle::after{
	visibility: hidden;
}
.layout-container {
	min-height: 100vh;
}
.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
	max-width: 1440px;
}
.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
	padding-right: 1.625rem;
	padding-left: 1.625rem;
}
.card-header {
	padding: 15px;
	font-size: 16px;
	color: #fff;
}
.card {
	background: #1a1a1a;
	color: #AAAAAA;
}
#textAreaExample2 {
	font-size: 14px !important;
	background-color: #0f0f0f !important;
	border-color: #0f0f0f !important;
	color: #fff !important;
}
#navbar-collapse .form-control:focus {
	box-shadow: none !important;
	background-color: transparent;
}
.btn.btn-info.btn-rounded.float-end {
	background: linear-gradient(135deg, #0d6efd 0%, #FD1F8E 100%);
	border: none;
	color: #fff;
	padding: 14px 48px;
}