body{
  font-family: "Roboto", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  font-size: 14px !important;
}
.loginBox {
	border-radius: 20px;
	width: 100%;
	max-width: 480px;
	border: none;
	box-shadow: none;
	background: none !important;
}
.logoheader {
	text-align: center;
	margin: 0 0 1.5rem;
}
.loginBox h3 {
	font-size: 24px;
	font-weight: 600;
	margin: 35px 0 0;
}
.themeBlue {
	color: #03416b;
	text-decoration: none;
}
.btn.btn-primary {
	background-color: #03416b;
	border-color: #03416b;
	font-size: 14px;
}
.btn.btn-primary:hover {
	background-color: #0f5280;
    border-color: #0f5280;
}

.bg-themebg{
    background: #003C60;
    background: linear-gradient(180deg, rgba(10, 10, 10, 0.85) 0%, rgba(10, 10, 10, 0.92) 100%), url('/assets/images/hero-bg.jpg');
}
.auth-header-box {
	background-color: #232a3e;
}
.font-18 {
	font-size: 18px;
}
.text-muted.mb-0 {
	color: #7081b9 !important;
	font-size: 14px;
}
.card-body.pt-0 {
	background: #fff;
	padding: 0 20px 20px;
}
.form-label {
	margin-bottom: .5rem;
	color: #656d9a;
}
.form-control {
	font-size: 14px !important;
	border: 1px solid #e8ebf3 !important;
	color: #000444 !important;
}
.form-control:focus {
	box-shadow: none !important;
}
.text-muted {
	--bs-text-opacity: 1;
	color: #7081b9 !important;
}
.font-13{
	font-size: 13px;
}
a{
	text-decoration: none;
}
.loginbtn .btn{
	background: linear-gradient(135deg, #0d6efd 0%, #FD1F8E 100%);
	border: none;
	padding: 10px 0;
}